#        -*- sh -*-
#
#        General yaps example configuration file
#
#########################################
#        global section                        #
#########################################
#
# +--------------------------------------
# | angepasste Version: 2004-11-28
# | Heiko Teichmeier <heiko.teichmeier@tei-lin-net.de>
# +--------------------------------------
# | Changelog:
# | ----------
# | 2004-11-28
# | <> Service Cityruf hinzugefuegt - Tip von Ralf Soergel
# | <> Alias-Section einbinden einer externen Text-Datei 
# |    (yaps-alias.txt)
# +--------------------------------------
#
#        This is a comma seperated list of available services. This
#        is required for autodetect the matching service for a
#        pager-id
services        D1_0151,D1_0160,D1_0170,D1_0171,D1_0175
+services       D2_0152,D2_0162,D2_0172,D2_0173,D2_0174
+services       E+_0163,E+_0177,E+_0178
+services       O2_0159,O2_0176,O2_0179
+services       Telmi,Telmi-Fun,Telmi-Family,Telmi-Top,Telmi-Pro
+services       Skyper,Quix
+services	Cityruf
#
#        This is the default caller-id. If the protocol/service allowes
#        it, this is inserted in the message (and the receiver gets this
#        as the sender's number)
call-id                +49-(3777)-1234
#
#        If you forget to sign your message, you can automatically append
#        this string to each message.
signature        (Heiko's Linux-Server!)
#
#        You can either switch the use of the signature here on for all
#        services or in each service section for that particular service.
use-signature        True
#
#        To get more verbose output when running yaps increase this value.
#        Currently 4 is the highest supported value.
verbose                0
#
#        If you'd like to log every sending session define this. It should
#        point to a writeable file. If you install the software setgid, then
#        change the group of this file to the same yaps uses and make it
#        group writeable.
logfile                /var/log/yaps.log
#
#        A comma seperated list of modem sections. You can also define this
#        in each service section.
modems                standard
#
#        some global defaults for the serial interface (even if the most
#        protocols are assuming 7e1, these settings seem to work well)
speed                38400
bits-per-byte        8
parity                none
stopbits        1

#
#        To calculate the cost for each call, you can define some globales
#        here and do the fine tuning in each protocol
cost        cost=0.0023,unit=Euro,remainder=2,entity-length=1.0
###+cost                timetable=wk0800-1800=5.7;Wk1800-0800=11.4;Ss=11.4

#
#        These are two example of internal conversion tables. The can be
#        used using the `convert' entry (see below).
cv-default        {
        Ä        [
        Ö        \
        Ü        ]
        ä        {
        ö        |
        ü        }
        ß        ~
}
cv-extend        {
        \l        \s
        \n        \s
        \r        \s
        \f        \s
        \t        \s
}
cv-d1                {
        Ä        [
        Ö        \
        Ü        ~
        ä        {
        ö        |
        ü        ~
        ß        ^]
}
cv-cityruf	{
	§	@
}

insert-pager-id        True

rm-invalids-pid        + (-)

rm-invalids-cid        + (-)
lock-prefix        /var/lock/LCK..
lock-method        sysv4
#########################################
#        service section                        #
#########################################
#
# Mir z.Zt. bekannte Vorwahlen:
# =============================
#        D1        01712521001        (ISDN)
#
#     Nach einem Tip von Michael Hüttig eine neue Modem-Einwahl-Nr.
#     für D1
#        D1        01712521002        (Modem)
#
#        D2        01722278010        (ISDN)
#                  01722278020        (analog)
#        E-Plus    01771167           (ISDN)
#        O2        01722278010        (ISDN)!!! D2-SMSCenter benutzen
#                  01722278020        (analog)
#
#########################################
#        D1 (by Deutsche Telekom)
#        jetzt: t-mobile
#########
[D1_0151]
protocol        tap
valid-pid        0151|0049151|49151
change-pid        0151
convert                *no-8bit,cv-d1
# use this number for modem-dialin:
#phone                01712521002
# use this number for isdn-dialin:
phone           01712521001
max-size        160
may-split        True
use-call-id        False
tap-old                True
#########
[D1_0160]
protocol        tap
valid-pid        0160|0049160|49160
change-pid        0160
convert                *no-8bit,cv-d1
# use this number for modem-dialin:
#phone                01712521002
# use this number for isdn-dialin:
phone           01712521001
max-size        160
may-split        True
use-call-id        False
tap-old                True
#########
[D1_0170]
protocol        tap
valid-pid        0170|0049170|49170
change-pid        0170
convert                *no-8bit,cv-d1
# use this number for modem-dialin:
#phone                01712521002
# use this number for isdn-dialin:
phone           01712521001
max-size        160
may-split        True
use-call-id        False
tap-old                True
#########
[D1_0171]
protocol        tap
valid-pid        0171|0049171|49171
change-pid        0171
convert                *no-8bit,cv-d1
# use this number for modem-dialin:
#phone                01712521002
# use this number for isdn-dialin:
phone           01712521001
max-size        160
may-split        True
use-call-id        False
tap-old                True
#########
[D1_0175]
protocol        tap
valid-pid        0175|0049175|49175
change-pid        0175
convert                *no-8bit,cv-d1
# use this number for modem-dialin:
#phone                01712521002
# use this number for isdn-dialin:
phone           01712521001
max-size        160
may-split        True
use-call-id        False
tap-old                True
#####################################
#        D2 (by Mannesmann Mobilfunk)
#        jetzt: vodafone
#########
[D2_0152]
modem                standard-d2
protocol        ucp
valid-pid        0152|0049152|49152|+49152
change-pid        0152
convert                *no-8bit,cv-default
# phone                01722278020
# use this number for isdn-dialin:
phone           01722278010
max-size        160
may-split        True
use-call-id        True
can-delay        True
can-expire        True
can-rds                True
check-call-id        >1111111111111111<
check-pager-id        >1111111111111111<
ucp-extend        True
#########
[D2_0162]
modem                standard-d2
protocol        ucp
valid-pid        0162|0049162|49162|+49162
change-pid        0162
convert                *no-8bit,cv-default
# phone                01722278020
# use this number for isdn-dialin:
phone           01722278010
max-size        160
may-split        True
use-call-id        True
can-delay        True
can-expire        True
can-rds                True
check-call-id        >1111111111111111<
check-pager-id        >1111111111111111<
ucp-extend        True
#########
[D2_0172]
modem                standard-d2
protocol        ucp
valid-pid        0172|0049172|49172|+49172
change-pid        0172
convert                *no-8bit,cv-default
# phone                01722278020
# use this number for isdn-dialin:
phone           01722278010
max-size        160
may-split        True
use-call-id        True
can-delay        True
can-expire        True
can-rds                True
check-call-id        >1111111111111111<
check-pager-id        >1111111111111111<
ucp-extend        True
#########
[D2_0173]
modem                standard-d2
protocol        ucp
valid-pid        0173|0049173|49173|+49173
change-pid        0173
convert                *no-8bit,cv-default
# phone                01722278020
# use this number for isdn-dialin:
phone           01722278010
max-size        160
may-split        True
use-call-id        True
can-delay        True
can-expire        True
can-rds                True
check-call-id        >1111111111111111<
check-pager-id        >1111111111111111<
ucp-extend        True
#########
[D2_0174]
modem                standard-d2
protocol        ucp
valid-pid        0174|0049174|49174|+49174
change-pid        0174
convert                *no-8bit,cv-default
# phone                01722278020
# use this number for isdn-dialin:
phone           01722278010
max-size        160
may-split        True
use-call-id        True
can-delay        True
can-expire        True
can-rds                True
check-call-id        >1111111111111111<
check-pager-id        >1111111111111111<
ucp-extend        True
################################
#        E+ (by ???)
#        TESTED 24.03.2002 Heiko Teichmeier heiko@tei-lin-net.de
#########
[E+_0163]
protocol        tap
valid-pid        0163|0049163|49163
change-pid        0163
convert                *no-8bit,cv-default
phone                01771167
max-size        160
may-split        True
use-call-id        False
#########
[E+_0177]
protocol        tap
valid-pid        0177|0049177|49177
change-pid        0177
convert                *no-8bit,cv-default
phone                01771167
max-size        160
may-split        True
use-call-id        False
#########
[E+_0178]
protocol        tap
valid-pid        0178|0049178|49178
change-pid        0178
convert                *no-8bit,cv-default
phone                01771167
max-size        160
may-split        True
use-call-id        False
#############################################
#        O2-Interkom
#        jetzt: O2 sprich: Ouhtu
#######
[O2_0159]
# geht theoretisch analog und ISDN Stand:2000-06-22
protocol        tap
valid-pid        0159|0049159|49159
change-pid        0159
convert                *no-8bit,cv-default
#
# anywhere I had read, that we can use the "D2"-Isdn-dial-in, because
# the "O-two"-provider has no ISDN-dial-in
# -> please give me a return about the rightness of this!!!
phone           01722278010
#phone                01797673425
#
max-size        160
may-split        True
use-call-id        True
#######
[O2_0176]
# geht theoretisch analog und ISDN Stand:2000-06-22
protocol        tap
#/#modem                standard-d2
#/#protocol        ucp

valid-pid        0176|0049176|49176
change-pid        0176
convert                *no-8bit,cv-default
#
# anywhere I had read, that we can use the "D2"-Isdn-dial-in, because
# the "O-two"-provider has no ISDN-dial-in
# -> please give me a return about the rightness of this!!!
phone           01722278010
#phone                01797673425
#
max-size        160
may-split        True
use-call-id        True

#/#can-delay        True
#/#can-expire        True
#/#can-rds                True
#/#check-call-id        >1111111111111111<
#/#check-pager-id        >1111111111111111<
#/#ucp-extend        True
#######
[O2_0179]
# geht theoretisch analog und ISDN Stand:2000-06-22
protocol        tap
valid-pid        0179|0049179|49179
change-pid        0179
convert                *no-8bit,cv-default
#
# anywhere I had read, that we can use the "D2"-Isdn-dial-in, because
# the "O-two"-provider has no ISDN-dial-in
# -> please give me a return about the rightness of this!!!
phone           01722278010
#phone                01797673425
#
max-size        160
may-split        True
use-call-id        True
#############################################
#        Telmi, Telmi-* (by Deutsche Funkruf)
#        !! ONLY TESTED FOR TELMI-FUN !!
#######
[Telmi]
protocol        tap
valid-pid        01661|01665|00491661|00491665|491661|491665
change-pid        -
convert                *no-control,*no-8bit,cv-default,cv-extend
+cost                entity-length=5.2
phone                016601010101
max-size        114
may-split        True
max-messages        1
use-call-id        False
check-pager-id        1111111
tap-old                True
[Telmi-Fun] Telmi
[Telmi-Family] Telmi
[Telmi-Top] Telmi
max-size        240
[Telmi-Pro] Telmi-Top
#
#        Skyper (by Deutsche Telekom)
#        !! UNTESTED !!
#
[Skyper]
protocol        tap
valid-pid        01692|00491692|491692
change-pid        -
convert                *no-8bit,cv-default,cv-extend
+cost                fixed,cost=0.96
phone                01692%P
max-size        80
use-call-id        False
insert-pager-id        True
#
#        Quix (by Miniruf)
#        !! UNTESTED !!
#
[Quix]
protocol        ucp
valid-pid        01653|00491653|491653
change-pid        -
+cost                fixed,timetable=Wk0800-1800=1.20;Al=0.96
convert                *no-8bit,cv-default,cv-extend
phone                016593
max-size        80
use-call-id        True

# +----------------------------------------
# | Cityruf (by e-Message)
# | Info und Test von Ralf Soergel - Danke Dir!
# | (Mail-Nachricht vom 25.11.2004)
# +----------------------------------------
# | lt. Ralf Soergel unterstuetzt Cityruf auch eine
# | abgewandelte tap-Variante. Funktionierte bei seinen
# | Tests aber nicht, da der tap-Modus der Gegenstation
# | nicht einzuschalten ging.
# | -> wenn jemand andere Erfahrungen hat - bitte melden
# +----------------------------------------
[Cityruf]
#protocol	tap
#tap-t4		4
#tap-t20	5
#tap-t21	8
#tap-t22	8
#tap-t23	10
#tap-t24	8
#tap-n20	3
#tap-n21	5
protocol	ascii
asc-pagerid	\\P\r <Bitte\sNachricht\seingeben.
asc-message	\\M\r <Funkruf\sabsenden\s?
asc-logout	J\r <Funkruf\sangenommen.
max-messages	1
valid-pid	0168|0049168|49168
change-pid	-
convert		*no-8bit,cv-default,cv-extend,cv-cityruf
phone		016911
#phone		01690  # vielnutzerzugang?? keine Ahnung wie ...
max-size	80
#tap-old	True

#########################################
#        modem section                        #
#########################################
[standard]
######
#        Device
#
#        Typical a symbolic link to the real device
# device                /dev/ttyS0
# use the following device for isdn-dialout:
device                /dev/ttyI0

#init                \\r !200D ATZ\r <OK ATE0Q0V1\r <OK
# use the following init-string for isdn:
# and change MSN to your MSN (what else...:-))
init            \\r !200D ATZ\r <OK AT&E24\r <OK

dial                ATD0190082%L\r <60CONNECT|OK|BUSY|NO\sDIALTONE|NO\sCARRIER
reset                ATZ\r <OK
timeout                10
#############

######
[standard-d2] standard
local-init        AT\%C2\r <OK

#############
[standard-eplus]
## folgender Init-String fuer Telefonanlage (Nebenstelle)
init                \\r !200D ATZ\r <OK ATE0Q0V1X3\r <OK
dial                ATD0190082%L\r <60CONNECT|OK|BUSY|NO\sDIALTONE|NO\sCARRIER
reset                ATZ\r <OK
timeout                5

#
#        alias section
#        auf Groß- und Kleinschreibung achten
#
[alias]
# Including extern file to get easyer use and handling of
# the alias defining
#
# Einbinden der Aliase ueber externe Datei
# bessere/sicherere externe Pflege/Aenderung moeglich
|/etc/yaps-alias.txt
